div.slidey {
  background: -webkit-linear-gradient( red, green) left repeat, -webkit-radial-gradient( red, orange) center no-repeat;
  background: linear-gradient( red, green) left repeat, radial-gradient(   red, orange) center no-repeat; }
  div.slidey:hover {
    -webkit-transform: rotate(45deg) skew(20deg, 30deg);
    -moz-transform: rotate(45deg) skew(20deg, 30deg);
    -ms-transform: rotate(45deg) skew(20deg, 30deg);
    -o-transform: rotate(45deg) skew(20deg, 30deg);
    transform: rotate(45deg) skew(20deg, 30deg); }

button {
  border: 1px solid #076fe4;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0776f3));
  background-image: -webkit-linear-gradient(#4294f0, #0776f3);
  background-image: linear-gradient(#4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  background-clip: padding-box; }
  button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #60a2ec;
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f87ea), color-stop(100%, #086fe3));
    background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
    background-image: linear-gradient(#2f87ea, #086fe3); }
  button:active:not(:disabled) {
    border: 1px solid #076fe4;
    box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee; }
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  background-color: #880088;
  background-color: rgba(0, 0, 0, 0.2); }

input {
  width: 400px; }
  input::-webkit-input-placeholder {
    color: blue; }
  input:-moz-placeholder {
    color: blue; }
  input::-moz-placeholder {
    color: blue; }
  input:-ms-input-placeholder {
    color: blue; }

div.contain {
  margin-top: 100px; }
  div.contain > .stylish {
    display: inline-block;
    margin: 10px; }

div.stylish {
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  -webkit-transition: all 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
  -moz-transition: all 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
  transition: all 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
  width: 200px;
  height: 200px;
  background: -webkit-linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)) left repeat, -webkit-radial-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)) left repeat;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)) left repeat, radial-gradient(   rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)) left repeat;
  background-color: #00ff00;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px; }
  div.stylish:hover {
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) left repeat, -webkit-radial-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) left repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) left repeat, radial-gradient(   rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) left repeat;
    background-color: #0000ff;
    -webkit-transform: translate(50px, 100px) scale(1.1);
    -moz-transform: translate(50px, 100px) scale(1.1);
    -ms-transform: translate(50px, 100px) scale(1.1);
    -o-transform: translate(50px, 100px) scale(1.1);
    transform: translate(50px, 100px) scale(1.1); }

div.hue-box, div.saturation-box, div.lightness-box, div.color-box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: white;
  margin: 5px; }

div.hue-box-container .hue-box-1 {
  background: #e88f7d; }
div.hue-box-container .hue-box-2 {
  background: #e8a17d; }
div.hue-box-container .hue-box-3 {
  background: #e8b37d; }
div.hue-box-container .hue-box-4 {
  background: #e8c47d; }
div.hue-box-container .hue-box-5 {
  background: #e8d67d; }
div.hue-box-container .hue-box-6 {
  background: #e8e87d; }
div.hue-box-container .hue-box-7 {
  background: #d6e87d; }
div.hue-box-container .hue-box-8 {
  background: #c4e87d; }
div.hue-box-container .hue-box-9 {
  background: #b3e87d; }
div.hue-box-container .hue-box-10 {
  background: #a1e87d; }
div.hue-box-container .hue-box-11 {
  background: #8fe87d; }
div.hue-box-container .hue-box-12 {
  background: #7de87d; }
div.hue-box-container .hue-box-13 {
  background: #7de88f; }
div.hue-box-container .hue-box-14 {
  background: #7de8a1; }
div.hue-box-container .hue-box-15 {
  background: #7de8b3; }
div.hue-box-container .hue-box-16 {
  background: #7de8c4; }
div.hue-box-container .hue-box-17 {
  background: #7de8d6; }
div.hue-box-container .hue-box-18 {
  background: #7de8e8; }
div.hue-box-container .hue-box-19 {
  background: #7dd6e8; }
div.hue-box-container .hue-box-20 {
  background: #7dc4e8; }
div.hue-box-container .hue-box-21 {
  background: #7db2e8; }
div.hue-box-container .hue-box-22 {
  background: #7da1e8; }
div.hue-box-container .hue-box-23 {
  background: #7d8fe8; }
div.hue-box-container .hue-box-24 {
  background: #7d7de8; }
div.hue-box-container .hue-box-25 {
  background: #8f7de8; }
div.hue-box-container .hue-box-26 {
  background: #a17de8; }
div.hue-box-container .hue-box-27 {
  background: #b27de8; }
div.hue-box-container .hue-box-28 {
  background: #c47de8; }
div.hue-box-container .hue-box-29 {
  background: #d67de8; }
div.hue-box-container .hue-box-30 {
  background: #e87de8; }
div.hue-box-container .hue-box-31 {
  background: #e87dd6; }
div.hue-box-container .hue-box-32 {
  background: #e87dc4; }
div.hue-box-container .hue-box-33 {
  background: #e87db3; }
div.hue-box-container .hue-box-34 {
  background: #e87da1; }
div.hue-box-container .hue-box-35 {
  background: #e87d8f; }
div.hue-box-container .hue-box-36 {
  background: #e87d7d; }

div.saturation-box-container .saturation-box-1 {
  background: #7a857a; }
div.saturation-box-container .saturation-box-2 {
  background: #758a75; }
div.saturation-box-container .saturation-box-3 {
  background: #708f70; }
div.saturation-box-container .saturation-box-4 {
  background: #6b946b; }
div.saturation-box-container .saturation-box-5 {
  background: #669966; }
div.saturation-box-container .saturation-box-6 {
  background: #619e61; }
div.saturation-box-container .saturation-box-7 {
  background: #5ca35c; }
div.saturation-box-container .saturation-box-8 {
  background: #57a857; }
div.saturation-box-container .saturation-box-9 {
  background: #52ad52; }
div.saturation-box-container .saturation-box-10 {
  background: #4db34d; }
div.saturation-box-container .saturation-box-11 {
  background: #47b847; }
div.saturation-box-container .saturation-box-12 {
  background: #42bd42; }
div.saturation-box-container .saturation-box-13 {
  background: #3dc23d; }
div.saturation-box-container .saturation-box-14 {
  background: #38c738; }
div.saturation-box-container .saturation-box-15 {
  background: #33cc33; }
div.saturation-box-container .saturation-box-16 {
  background: #2ed12e; }
div.saturation-box-container .saturation-box-17 {
  background: #29d629; }
div.saturation-box-container .saturation-box-18 {
  background: #24db24; }
div.saturation-box-container .saturation-box-19 {
  background: #1fe01f; }
div.saturation-box-container .saturation-box-20 {
  background: #19e619; }
div.saturation-box-container .saturation-box-21 {
  background: #14eb14; }
div.saturation-box-container .saturation-box-22 {
  background: #0ff00f; }
div.saturation-box-container .saturation-box-23 {
  background: #0af50a; }
div.saturation-box-container .saturation-box-24 {
  background: #05fa05; }
div.saturation-box-container .saturation-box-25 {
  background: lime; }

div.lightness-box-container .lightness-box-1 {
  background: #050f05; }
div.lightness-box-container .lightness-box-2 {
  background: #0a1f0a; }
div.lightness-box-container .lightness-box-3 {
  background: #0f2e0f; }
div.lightness-box-container .lightness-box-4 {
  background: #143d14; }
div.lightness-box-container .lightness-box-5 {
  background: #194d19; }
div.lightness-box-container .lightness-box-6 {
  background: #1f5c1f; }
div.lightness-box-container .lightness-box-7 {
  background: #246b24; }
div.lightness-box-container .lightness-box-8 {
  background: #297a29; }
div.lightness-box-container .lightness-box-9 {
  background: #2e8a2e; }
div.lightness-box-container .lightness-box-10 {
  background: #339933; }
div.lightness-box-container .lightness-box-11 {
  background: #38a838; }
div.lightness-box-container .lightness-box-12 {
  background: #3db83d; }
div.lightness-box-container .lightness-box-13 {
  background: #47c247; }
div.lightness-box-container .lightness-box-14 {
  background: #57c757; }
div.lightness-box-container .lightness-box-15 {
  background: #66cc66; }
div.lightness-box-container .lightness-box-16 {
  background: #75d175; }
div.lightness-box-container .lightness-box-17 {
  background: #85d685; }
div.lightness-box-container .lightness-box-18 {
  background: #94db94; }
div.lightness-box-container .lightness-box-19 {
  background: #a3e0a3; }
div.lightness-box-container .lightness-box-20 {
  background: #b3e6b3; }
div.lightness-box-container .lightness-box-21 {
  background: #c2ebc2; }
div.lightness-box-container .lightness-box-22 {
  background: #d1f0d1; }
div.lightness-box-container .lightness-box-23 {
  background: #e0f5e0; }
div.lightness-box-container .lightness-box-24 {
  background: #f0faf0; }
div.lightness-box-container .lightness-box-25 {
  background: white; }

div.color-box-container {
  background: #d9f2d9;
  border: 25px solid transparent;
  -webkit-border-image: url(/img/bordered.png) 100 100 100 100 repeat repeat;
  -moz-border-image: url(/img/bordered.png) 100 100 100 100 repeat repeat;
  -o-border-image: url(/img/bordered.png) 100 100 100 100 repeat repeat;
  border-image: url(/img/bordered.png) 100 100 100 100 repeat repeat; }
  div.color-box-container .color-box-1 {
    background: #3bff3b; }
  div.color-box-container .color-box-2 {
    background: #43ff43; }
  div.color-box-container .color-box-3 {
    background: #4bff4b; }
  div.color-box-container .color-box-4 {
    background: #54ff54; }
  div.color-box-container .color-box-5 {
    background: #5cff5c; }
  div.color-box-container .color-box-6 {
    background: #64ff64; }
  div.color-box-container .color-box-7 {
    background: #6cff6c; }
  div.color-box-container .color-box-8 {
    background: #74ff74; }
  div.color-box-container .color-box-9 {
    background: #7cff7c; }
  div.color-box-container .color-box-10 {
    background: #85ff85; }
  div.color-box-container .color-box-11 {
    background: #8dff8d; }
  div.color-box-container .color-box-12 {
    background: #95ff95; }
  div.color-box-container .color-box-13 {
    background: #9dff9d; }
  div.color-box-container .color-box-14 {
    background: #a5ffa5; }
  div.color-box-container .color-box-15 {
    background: #adffad; }
  div.color-box-container .color-box-16 {
    background: #b6ffb6; }
  div.color-box-container .color-box-17 {
    background: #beffbe; }
  div.color-box-container .color-box-18 {
    background: #c6ffc6; }
  div.color-box-container .color-box-19 {
    background: #ceffce; }
  div.color-box-container .color-box-20 {
    background: #d6ffd6; }
  div.color-box-container .color-box-21 {
    background: #deffde; }
  div.color-box-container .color-box-22 {
    background: #e7ffe7; }
  div.color-box-container .color-box-23 {
    background: #efffef; }
  div.color-box-container .color-box-24 {
    background: #f7fff7; }
  div.color-box-container .color-box-25 {
    background: white; }

body {
  background: #e6e6e6; }
  body .item-1-class {
    background: #ff0000; }
  body .item-3-class {
    background: #ff0000; }
  body .item-0-class {
    background: #ff0000; }
