@charset "IBM437";
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans Mono"), local("DroidSansMono"), url(/fonts/droidSansMono.woff) format("woff"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(/fonts/ubuntu.woff) format("woff"); }

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Anonymous Pro"), local("AnonymousPro"), url(/fonts/anonymousPro.woff) format("woff"); }

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url(fonts/inconsolata.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(/fonts/openSans.woff) format("woff"); }

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local("Libre Baskerville"), url(/fonts/libreBaskerville.woff) format("woff"); }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), url(/fonts/merriweather.woff) format("woff"); }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(/fonts/merriweatherBold.woff) format("woff"); }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local("Merriweather Light Italic"), local("Merriweather-LightItalic"), url(/fonts/merriweatherLightItalic.woff) format("woff"); }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url(/fonts/merriweatherItalic.woff) format("woff"); }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url(/fonts.merriweatherBoldItalic.woff) format("woff"); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  color: #e75253; }

a h1, a h2, a h3, a h4, a h5, a h6 {
  color: #e75253; }
a:visited h1, a:visited h2, a:visited h3, a:visited h4, a:visited h5, a:visited h6 {
  color: #e75253; }
a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
  color: #eb7475; }

p > code {
  background-color: #dddddd; }

pre {
  background: #000032;
  color: #eeeeee; }

body {
  background: #fcfcc0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  color: #333333; }

button {
  border: 1px solid #076fe4;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0776f3));
  background-image: -webkit-linear-gradient(#4294f0, #0776f3);
  background-image: linear-gradient(#4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  background-clip: padding-box; }
  button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #60a2ec;
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f87ea), color-stop(100%, #086fe3));
    background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
    background-image: linear-gradient(#2f87ea, #086fe3); }
  button:active:not(:disabled) {
    border: 1px solid #076fe4;
    box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee; }
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.content-body {
  margin-top: 1.0em;
  width: 100%; }
  .content-body > p {
    color: #333333; }

#page-frame {
  width: 100%;
  margin: 0;
  margin-right: auto;
  display: block;
  box-sizing: border-box; }

#article-frame {
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
  padding-left: 1.5em;
  padding-right: 1.5em; }

#article-body {
  width: 100%; }

.article-page-top {
  width: 100%;
  box-sizing: border-box;
  height: 3.0em;
  padding-top: 0.5em;
  padding-left: 1.5em;
  padding-bottom: 1.0em; }

#aside-frame {
  display: none;
  box-sizing: border-box;
  width: 0px; }

#content-frame {
  width: 100%;
  background-color: #fcfcfc;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: #666666;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 3.0em; }

#article-header {
  box-sizing: border-box; }

.article-list-text {
  vertical-align: top;
  padding: 0 1.0em 1.0em 1.0em;
  margin-top: 0px;
  height: inherit;
  max-width: 28.0em;
  display: inline-block;
  border-radius: 5px;
  border-color: #666666; }

#article-header .article-header-text {
  box-sizing: border-box;
  display: block;
  max-width: 240px; }
  #article-header .article-header-text * {
    display: inline-block; }

@media all and (max-width: 480px), (max-device-width: 480px) {
  #content-frame {
    box-sizing: border-box;
    width: 100%; }

  #page-frame {
    width: 100%; } }
#article-body {
  box-sizing: border-box;
  margin: 0; }

@media all and (min-width: 321px) and (min-device-width: 321px) {
  #article-body {
    box-sizing: border-box; }

  #article-frame {
    padding-left: 2.0em;
    padding-right: 2.0em; }

  #article-header .article-header-text {
    max-width: 300px; }

  #content-frame {
    width: 100%; }

  #page-frame {
    width: 100%; } }
@media all and (min-width: 481px) and (min-device-width: 481px) {
  .article-body p {
    max-width: 25.0em; }

  #article-frame {
    padding-left: 2.0em;
    padding-right: 2.0em; }

  #page-frame {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 95%; } }
@media all and (min-width: 600px) and (min-device-width: 600px) {
  #article-header .article-header-text {
    max-width: 450px; }

  #article-frame {
    padding-left: 3.0em;
    padding-right: 3.0em; }

  #page-frame {
    max-width: 799px; }

  #aside-frame {
    display: none; }

  .article-list-text {
    max-width: 25.0em; }

  #content-frame {
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: #666666; } }
@media all and (min-width: 800px) and (min-device-width: 800px) {
  #page-frame {
    max-width: 1400px; }

  #content-frame {
    max-width: 800px;
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: #666666; } }
#article-list-head {
  margin-bottom: 4.0em; }

.base-page-title {
  text-align: center; }

.article-list-item {
  border-radius: 5px;
  margin-bottom: 1.0em;
  width: 100%; }
  .article-list-item a {
    text-decoration: none; }

.article-list-title {
  text-decoration: none;
  color: #e75253;
  max-width: 90%;
  display: inline-block; }
  .article-list-title h1, .article-list-title h2, .article-list-title h3, .article-list-title h4, .article-list-title h5, .article-list-title h6 {
    margin-bottom: 0.1em;
    padding-bottom: 0; }

.article-list-thumb {
  vertical-align: top;
  width: 0px;
  max-height: 200px;
  display: inline-block; }
  .article-list-thumb img {
    width: 80px;
    max-height: 100px;
    display: inline-block; }

.article-list-link {
  display: inline-block; }
  .article-list-link * {
    display: inline-block; }

span.bibref a {
  text-decoration: none;
  color: #c31d1d; }
span.bibref:before {
  content: "";
  position: absolute; }
span.bibref:hover:before {
  content: attr(data-ref);
  background: #7fff7f;
  padding: 2px 8px; }

p > .block-diagram {
  margin-top: 2.0em; }

.block-diagram {
  margin: 0px auto;
  display: block;
  max-width: 80%;
  margin-bottom: 1.0em; }
  .block-diagram.block-diagram-pic {
    background-color: #e2e2ba;
    border: 2px solid black; }
    .block-diagram.block-diagram-pic > img {
      max-width: 90%; }
  .block-diagram .block-diagram-caption {
    display: block;
    margin: 0px auto; }
    .block-diagram .block-diagram-caption > p {
      display: block;
      margin: 0px auto;
      text-align: center; }
  .block-diagram .block-diagram-title > * {
    display: block;
    margin: 0px auto;
    text-align: center; }
  .block-diagram img {
    display: block;
    max-height: 10.0em;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }

.block-diagram-math {
  border: 1px solid #cccccc;
  max-width: 80%;
  text-align: left;
  margin-left: 0px auto; }

p {
  margin-bottom: 2.0rem; }

code {
  font-family: "Droid Sans Mono";
  font-weight: 400; }

pre {
  background: #22282A;
  word-wrap: break-word;
  color: #F1F2F3;
  margin-bottom: 1.0em; }

pre {
  border: 2px solid black;
  padding: 1.0rem;
  border-radius: 4px; }
  pre > code {
    font-family: "Droid Sans Mono", sans-serif;
    font-weight: 400; }

p > code {
  margin-left: 0.2em;
  margin-right: 0.2em; }

@media all and (min-width: 600px) {
  pre {
    margin-left: 1rem;
    margin-right: 1rem; } }
@media all and (min-width: 840px) {
  pre {
    margin-left: 2rem;
    margin-right: 2rem; } }
pre .comment {
  color: #66747B; }

pre .constant {
  color: #EC7600; }

pre .storage {
  color: #EC7600; }

pre .string, pre .comment.docstring {
  color: #EC7600; }

pre .string.regexp, pre .support.tag.script, pre .support.tag.style {
  color: #fff; }

pre .keyword, pre .selector {
  color: #93C763; }

pre .inherited-class {
  font-style: italic; }

pre .entity {
  color: #93C763; }

pre .integer {
  color: #FFCD22; }

pre .support, *[data-language="csharp"] .function.call {
  color: #FACD22; }

pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #CCC; }

/* C# specific rule */
pre .preprocessor {
  color: #66747B; }

/*!
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

	.                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
		.. |      ||               ||
		 ''      ''''             ''''      A Typographic Starter Kit

  URL ........... http://typeplate.com
  VERSION ....... 1.1.1
  Github ........ https://github.com/typeplate/typeplate.github.io
  AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
  LICENSE ....... Creative Commmons Attribution 3.0
  LICENSE URL ... http://creativecommons.org/licenses/by/3.0

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

body, pre code {
  word-wrap: normal; }

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
html {
  font-family: "Ubuntu", serif; }

html {
  font-size: 90%;
  font-weight: normal;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

p > code {
  font-family: "Droid Sans Mono", sans-serif;
  font-size: 0.5rem; }

@media all and (min-width: 321px) {
  html {
    font-size: 95%;
    line-height: 1.4; } }
@media all and (min-width: 481px) {
  html {
    font-size: 105%;
    line-height: 1.4; } }
@media all and (min-width: 600px) {
  html {
    font-size: 112.5%;
    line-height: 1.65; } }
@media all and (min-width: 800px) {
  html {
    font-size: 120%;
    line-height: 1.65; } }
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444; }

small {
  font-size: 65%; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0; }

p {
  margin: auto auto 1.5em; }
  p + p {
    text-indent: 1.5em;
    margin-top: -1.5em; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.1em; }

p > code {
  font-size: 0.9em; }

pre > code {
  font-size: 0.85em; }

p + p {
  margin-top: 2.0em; }
p:first-child {
  margin-top: 4.0em; }

@media all and (min-width: 600px) {
  .desk-tera {
    font-size: 117px;
    font-size: 6.5rem;
    margin-bottom: 0.19692rem; }

  .desk-giga {
    font-size: 90px;
    font-size: 5rem;
    margin-bottom: 0.256rem; }

  .desk-mega {
    font-size: 72px;
    font-size: 4rem;
    margin-bottom: 0.32rem; }

  .desk-alpha {
    font-size: 60px;
    font-size: 3.33333rem;
    margin-bottom: 0.384rem; }

  .desk-beta {
    font-size: 48px;
    font-size: 2.66667rem;
    margin-bottom: 0.48rem; }

  .desk-gamma {
    font-size: 36px;
    font-size: 2rem;
    margin-bottom: 0.64rem; }

  .desk-delta {
    font-size: 24px;
    font-size: 1.33333rem;
    margin-bottom: 0.96rem; }

  .desk-epsilon {
    font-size: 21px;
    font-size: 1.16667rem;
    margin-bottom: 1.09714rem; }

  .desk-zeta {
    font-size: 18px;
    font-size: 1rem;
    margin-bottom: 1.28rem; }

  h1 {
    font-size: 60px;
    font-size: 3.33333rem;
    margin-bottom: 0.384rem; }

  h2 {
    font-size: 48px;
    font-size: 2.66667rem;
    margin-bottom: 0.48rem; }

  h3 {
    font-size: 36px;
    font-size: 2rem;
    margin-bottom: 0.64rem; }

  h4 {
    font-size: 24px;
    font-size: 1.33333rem;
    margin-bottom: 0.96rem; }

  h5 {
    font-size: 21px;
    font-size: 1.16667rem;
    margin-bottom: 1.09714rem; }

  h6 {
    font-size: 18px;
    font-size: 1rem;
    margin-bottom: 1.28rem; }

  pre > code {
    font-size: 0.95em; } }
@media all and (min-width: 840px) {
  pre > code {
    font-size: 1.0em; } }
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none; }

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

pre {
  white-space: pre; }

code {
  white-space: pre;
  font-family: monospace; }

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e75253; }

p + .drop-cap {
  text-indent: 0;
  margin-top: 0; }

.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0; }
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre; }
.lining dd + dd:before {
  content: ", "; }
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
.dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .dictionary-style dd:before {
    content: counter(definitions,decimal) ". "; }

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em; }
  .pull-quote:before, .pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
body {
  overflow-x: hidden; }
