* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div.page-frame {
  min-height: 800px;
  background: #ff0000; }

div.content-block {
  background: #00ff00;
  min-height: 100px; }

@media screen and (min-device-height: 481px) {
  body {
    background: #ff00ff; }

  body {
    font-size: 16px; } }
@media screen and (min-device-width: 481px) {
  body {
    background: #ff00ff; }

  body {
    font-size: 16px; } }
@media screen and (max-device-height: 480px) {
  body {
    background: #ffff00; }

  div.page-frame {
    background: #ff0000; }

  div.content-block {
    width: 100%;
    display: block; }

  body {
    font-size: 24px; } }
@media screen and (max-device-width: 480px) {
  body {
    background: #990000; }

  div.page-frame {
    background: #ff0000; }

  div.content-block {
    width: 100%;
    display: block; }

  body {
    font-size: 24px; } }
@media screen and (min-width: 600px) {
  div.page-frame {
    width: 600px;
    margin-left: auto;
    margin-right: auto; }

  div.content-block {
    width: 45%;
    display: inline-block; } }
@media screen and (max-width: 600px) {
  div.page-frame {
    background: #ff0000; }

  div.content-block {
    width: 100%;
    display: block; } }
